body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --iris-color: #4d5ae5;
    --ocean-color: #404BBF;
    --navyblue-color: #2E2F42;
    --green-color: #31D0AA;
    --slate-color: #434455;
    --lightslate-color: #8E8F99;
    --cornflower-color: #E7E9FC;
    --cloud-color: #F4F4FD;
    --navybluemodal-color: #2E2F4266;
    --grey-color: #2E2F42B2;
    --white-color: #FFFFFF;
    --dairy-color: #FCFCFC;
}

.container {
    width: 1158px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

.header {
    border-bottom: 1px solid var(--cornflower-color);
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-color);
    margin-right: 76px;
}

.link {
    text-decoration: none;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-text-studio {
    color: var(--navyblue-color);
}

.logo-textfooter-studio {
    color: var(--cloud-color);
}

.contact-link {
    color: var(--slate-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover {
    color: var(--ocean-color);
}

.contact-link:focus {
    color: var(--ocean-color);
}

.nav-link {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    padding: 24px 0;
}

.nav-link:hover {
    color: var(--ocean-color);
}

.nav-link:focus {
    color: var(--ocean-color);
}

.address {
    font-style: normal;
}


.list-menu {
    display: flex;
    gap: 40px;
    list-style: none;
}

.list-section-two {
    display: flex;
    gap: 24px;
    list-style: none;
}

.list-section-two-li {
    width: calc((100% - 72px) / 4);
}

.list-section-three {
    list-style: none;
    display: flex;
    gap: 24px;
}

.list-section-three-li {
    width: calc((100% - 48px) / 3);
}
.list-button {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px
}

.list-portfolio {
    list-style: none;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
    
}

.projects {
    padding: 32px 16px;
    border: 1px solid var(--cornflower-color);
    border-top: none;
}

.list-portfolio-li {
    flex-basis: calc((100% - 48px) / 3);
}

.list-team {
    display: flex;
    gap: 24px;
}

img {
    display: block;
}

.main-section {
    background-color: var(--navyblue-color);
    padding: 188px 0;
}

.background-section {
    background-color: var(--cloud-color);
}

.background-list {
    background-color: var(--white-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    padding: 32px 0px;
}

.main-header {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    color: var(--white-color);
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.order-service-button {
    color: var(--white-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    background-color: var(--iris-color);
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.order-service-button:hover {
    background-color: var(--ocean-color);
}

.order-service-button:focus {
    background-color: var(--ocean-color);
}

.second-headline {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue-color);
    margin-bottom: 72px;
}

.third-headline {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: var(--navyblue-color);
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.cursor {
    cursor: pointer;
}

.button-text {
    color: var(--iris-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--cloud-color);
    padding: 12px 24px;
    border: 1px solid var(--cornflower-color);
    border-radius: 4px;
}

.button-text:hover {
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
}

.button-text:focus {
    color: var(--white-color);
    background-color: var(--ocean-color);
    border: 1px solid transparent;
}

.project-name {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue-color);
    margin-bottom: 8px;
}

.description {
    color: var(--slate-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.job-position {
    text-align: center;
}

.footer-text {
    color: var(--cloud-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer_background {
    background-color: var(--navyblue-color);
    padding: 100px 0;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

.portfolio-section {
    padding: 96px 0 120px 0
}