body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --brand-color: #2e2f42
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.link {
    text-decoration: none;
}

.logo-text-studio {
    color: #2e2f42;
}

.logo-textfooter-studio {
    color: #f4f4fd;
}

.contact-link {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact-link:hover {
    color: #404bbf;
}

.contact-link:focus {
    color: #404bbf;
}

.nav-link {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.list {
    list-style: none;
}

.main-section {
    background-color: #2e2f42;
}

.background-section {
    background-color: #F4F4FD;
}

.background-list {
    background-color: #FFFFFF;
}

.main-header {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    color: #FFF;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

}

.order-service-button {
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    background-color: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.order-service-button:hover {
    background-color: #404BBF;
}

.order-service-button:focus {
    background-color: #404BBF;
}

.second-headline {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.third-headline {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.cursor {
    cursor: pointer;
}

.button-text {
    color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;

}

.button-text:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-text:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.project-name {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.description {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-text {
    color: #F4F4FD;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer_background {
    background-color: #2e2f42;
}